.buttonStyle{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    background-color: rgb(66, 164, 245);
    color: white;
    cursor: pointer;
    border: none;
}
.input{
    padding: 0.3rem;
    padding-bottom: 1.5rem;
    width: 125%;
    border-radius: 4px;
}
.formBackground{
    padding: 1.5rem;
    background-color: rgb(110, 108, 108);
    border-radius: 20px;
    padding-left: 4rem;
    padding-right: 8rem;
    text-align: center;
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
}